
.homepage{
    margin:25px;
}
.navbar{
    display:flex;
    justify-content:space-between;
     box-shadow: 2px 1px 2px #eee;
    padding-top:5px;
    padding-bottom:20px; 
}

.logo{
        width: 120px;
        padding-left: 20px;
}

.buttons span{
    padding:10px;
    cursor:pointer;
    color:#666;
}

.buttons span:hover{
    color:#0984e3;
}

 #landing_pic{
     width: 700px;
    height: 300px;
    margin-top:30px;
    margin-bottom:20px;
}

.intro h1,h3{
    text-align:center;
    color:#424242;
}

.signup_btn{
    border:1px solid;
    border-radius:5px;
    cursor:pointer;
    color:white;
    background-color:#387ed1;
    padding:10px 15px 10px 15px;
    width:120px;
    height:20px;
    font-weight:400;
}

.signup_btn:hover{
    cursor:pointer;
}

.IIndsection{
    display:flex;
    /* justify-content:space-between; */
    margin-top:100px;
}

.IIndsection h1{
    font-family:poppins;
    color:black;
    font-weight:700;
}

.marketing{
    margin-left:55px;
}

.IIIrdsection img{
    display:flex;
    justify-content:center;
    margin-left:300px;
    
}

.IIIrdsection .spans,h1,h2{
    display: flex;;
    justify-content:center;
}

.open_account h1{
    margin-top:40px;
    color:#424242;
    font-family:"Inter",serif;
}

.open_account h3{
    color:#666;
    font-weight:200;
}

#btn{
    margin-bottom:50px;
    margin-top:25px;
    display:flex;
    text-align:center;
    justify-content:center;
}

.footer{
    color:#9b9b9b;
    background-color:#fafafb;
}

.footer p{
    font-size: 0.65rem;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    line-height: 1.8;
    margin-bottom: 15px;
}
.footer p a{
    color:#387ed1;
    cursor:pointer;
}